.header {
    width: 1052px;
    margin: 92px 24px 96px 24px;
    display: flex;
    font-size: 18px;
}

.header_menu {
    display: flex;
    margin: 44px 38px 39px 26.5px;
}

.header_links-list {
    list-style-type: circle;
    display: flex;
    gap: 32px;
}

.header_links-list-item_no-bullit {
    list-style-type: none;
}

.header_links-list-spacing {
    letter-spacing: 1px;
}

.header_logo {
    width: 148px;
    height: 105px;
}

.header_logo-image {
  width: 100%;
  height: 100%;
}

address {
    width: 240px;
    display: flex;
    margin: 5px 25px 2px 187px;
    flex-direction: column;
    font-style: normal;
}

.header_link {
    list-style: none;
    padding-left: 0;
    line-height: 25px;
    text-underline-offset: 3px;
}

.header_address {
    line-height: 23px;
}

.header_link-active {
    text-decoration: underline;
    text-underline-offset: 3px;
}

.cover {
    width: 1100px;
    background-image: url(../images/cover.jpg);
    background-size: cover;
    position: relative;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgb(0 0 0 / 0.6);
}

.cover_title {
    padding-top: 165px;
    color: white;
    font-size: 100px;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    letter-spacing: 30px;
}

.aligned-text {
    padding-right: 734px;
    padding-left: 50px;
    margin-bottom: 10px;
    display: block;
}

.letter-spacing-extended {
    letter-spacing: 60px;
}

.aligned-text_center {
    padding-left: 336px;
}

.aligned-text_right {
    padding-left: 633px;
}

.cover_description {
    display: flex;
    width: 1100px;
    color: white;
    position: relative;
}
 
.cover_description-text {
    font-size: 22px;
    text-transform: uppercase;
    word-spacing: 20px;
    padding-left: 78px;
    margin-top: 140px;
}

.cover_description-text-end {
    word-spacing: 17px;
}

.bet-button {
    color: white;
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
    border: 1px solid white;
    background: transparent;
    margin: 127px 50px 51px 79px;
    width: 256px;
    height: 51px;
    font-family: Raleway, sans-serif;
}

.lots {
    width: 1052px;
    margin: 179px 24px 0px 24px;
}

.lots_heading {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    padding-left: 40px;
}

.lots_card-list {
    list-style-type: none;
    display: flex;
    column-gap: 25px;
    row-gap: 25px;
    flex-wrap: wrap;
    margin-top: 27px;
}

.lots_card-list-item {
    width: 334px;
    min-height: 563px;
    flex-grow: 1;
}

.card_link {
    display: block;
    height: 100%;
    text-decoration: none;
}

.card {
    display: flex;
    flex-direction: column;
    color: white;
    position: relative;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.card_title {
    font-size: 22px;
    font-weight: bold;
    text-decoration: underline;
    text-transform: uppercase;
    padding-top: 51px;
    padding-left: 40px;
    padding-right: 40px;
    text-underline-offset: 2px;
    position: relative;
}

.lots_text-card {
    font-size: 20px;
    padding-left: 40px;
    padding-right: 40px;
    position: relative;
}

.card_text_film {
    margin-top: 240px;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.card_text_picture {
    padding-top: 95px;
}

.lots_look-more-link {
    font-size: 20px;
    text-decoration: underline;
    padding-left: 40px;
    padding-top: 30px;
    text-underline-offset: 5px;
    display: block;
}

.about {
    display: grid;
    grid-template-rows: 595px;
    grid-template-columns: 334px 1fr;
    width: 1052px;
    margin: 146px 24px 0px 24px;
}

.about_column-logo {
    margin-left: 47px;
    margin-top: 40px;
}

.about_logo {
    width: 240px;
    height: 240px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.about_logo-image {
    width: 148px;
    height: 114px;
}

.about_column-text {
    margin-top: 135px;
    flex-direction: column;
}

.about_title {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    padding-left: 25px;
    margin-top: 3px;
}

.about_text {
    font-size: 20px;
    padding-left: 25px;
}

.about_text-top {
    padding-top: 100px;
    padding-bottom: 24px;
}

.footer {
    display: flex;
    width: 1000px;
    margin-top: 183px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 88px;
    font-size: 18px;
}

.footer_address {
    margin-left: 0px;
    margin-right: 185px;
    margin-top: 0px;
}

.footer_address-list {
    list-style: none;
    line-height: 25px;
    padding-left: 0px;
}

.footer_menu-list {
    list-style: none;
    margin-right: 185px;
}

.footer_menu-link_active {
    text-decoration: none;
}

.footer_menu-list-item {
    text-align: center;
    text-underline-offset: 4px;
}

.footer_social-list {
    display: flex;
    list-style: none;
    column-gap: 48px;
}

.footer_social-icon {
    width: 48px;
    height: 48px;
}
